.create-task {
    box-shadow: 0 2px 2px rgba(0,0,0,.1), 0 0 2px rgba(0,0,0,.1);
    border-radius: 4px;
    padding: 10px 20px;
    margin: 0 0 40px 0;
}

.create-task__input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 14px;
    caret-color: #2CB0F5;
}

.create-task__textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 14px;
    caret-color: #2CB0F5;
    resize: none;
}

.create-task__textarea:focus, .create-task__input:focus {
    outline: none;
}

.create-task__input::placeholder, .create-task__textarea::placeholder { 
    color: #B1B2B3;
    opacity: 1; 
}
