.task {
    padding: 5px 10px;
    font-size: 14px;
    margin-bottom: 5px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.task--marked {
    transition: 0.5s;
    opacity: 0;
}

.task--expanded {
    box-shadow: 0 2px 2px rgba(0,0,0,.1), 0 0 2px rgba(0,0,0,.1);
    border-radius: 4px;
    padding: 10px;
}

.task__toggle {
    margin: 0 10px 0 0;
}

.task__name-input {
    width: 90%;
}

.task__notes {
    font-size: 13px;
    color: #3a3e42;
}

@keyframes strike {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.task__strike {
    position: relative;
}

.task__strike:after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: black;
    animation-name: strike;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
